<!DOCTYPE html>
<html>
<head>
  <title>SimpleLogin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>
  <p><%= link_to "Logout", sessions_path, method: :delete %></p>
<% end %>

<%= yield %>

</body>
</html>
